# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Node
node_modules/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

#demo audio and test files
#assets/add wav file